/* ------First popop------------ */

.pic {
    flex: 2;
    display: none;
}

.txt {
    flex: 2;
}

.popop {
    width: 90%;
    height: 80%;
    background-color: #fff;
    display: flex;
}

.envelope {
    color: #cc3300;
    font-size: 1.3em;
    position: absolute;
    bottom: 67%;
    right: 88%;
}

.tirt-popop {
    padding: 0.5em;
    font-family: font-default;
    font-size: 0.7em;
    text-align: center;
}

.p-popop {
    text-align: justify;
    line-height: 2.5em;
    font-family: font-default;
    font-size: 0.6em;
}

.btn-email {
    background-color: #ffcc00;
    color: #0033FF;
    padding: 0.5em 1em;
    border-radius: 5px;
    outline: #ffcc00;
    margin-top: 0.3em;
    font-family: font-default;
}

.navbar {
    width: 100%;
}

.nav-logo {
    font-size: 1rem;
    font-weight: 500;
    color: #482ff7;
    height: 4rem;
    margin-right: 4em;
}


/* ------End popop------------ */


/* ------First Nav------------ */

.nav-menu {
    position: fixed;
    left: -100%;
    top: 7rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    position: fixed;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    z-index: 4;
}

.active {
    left: 0px;
}

.nav-item {
    margin: 1.7rem 0;
}

.hamburger {
    display: block;
    cursor: pointer;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}


/* ------End Nav---------------------------- */


/* ------First PoaterWebSite------------ */

.poster-website {
    background: url(../images/pposter_website.png) no-repeat;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    height: 30rem;
}

.header-poster {
    height: 100%;
}

.poster-website .text-titr-poster {
    font-family: font-default;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bolder;
}

.poster-website .text-titr2-poster {
    font-family: font-default;
    margin-top: 1.5rem;
    font-size: 1rem;
    font-weight: bolder;
}


/* ------End PosterWebsite------------ */


/* ------Firsr gallery------------ */

.top-offer {
    flex-direction: column;
    flex-wrap: wrap;
}

.iteam-offer {
    width: 80%;
    position: relative;
    align-self: center;
}

.iteam-offer .titr-offer {
    position: absolute;
    top: 5%;
    left: 0;
    padding: 10px 15px;
    background-color: rgb(0, 0, 0, 0.5);
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: font-titr;
    font-size: 1.3em;
    font-weight: bold;
}

.iteam-offer .btn-order {
    background-color: #ff9000;
    color: #fff;
    position: absolute;
    left: 5%;
    bottom: 10%;
    outline: none;
    border: solid 1px #ff9000;
    border-radius: 5px;
    font-family: font-default;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.iteam-offer .btn-order .logo-shop {
    background-color: red;
    width: 50%;
    flex: 0.5;
    padding: 10px;
    display: flex;
    justify-content: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.iteam-offer .btn-order .text-shop {
    width: 50%;
    flex: 2;
    justify-content: space-around;
    padding: 0.5em 1em;
}


/* ------End gallery------------ */


/*----------First icons------------------*/

.gallery-icons-tor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.icons1,
.icons2,
.icons3,
.icons4,
.icons5 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-icons {
    width: 100%;
    text-align: justify;
    font-family: font-default;
    line-height: 2rem;
}

.titr-icons {
    font-family: font-default;
    line-height: 0.9em;
}


/*----------End icons------------------*/

.titr1-passage {
    font-size: 1.5em;
    text-align: center;
    font-family: font-default;
    width: 100%;
    padding: 5%;
    display: flex;
    font-weight: bolder;
    justify-content: center;
}

.text-passage {
    width: 100%;
    margin: 0px auto 30px;
    text-align: justify;
    line-height: 35px;
    font-family: font-default;
    font-size: 1em;
}

.icons1-1 {
    width: 100%;
    height: 100%;
    background-size: contain;
}


/*-----------First Video------------  */


/*-----------End Video------------  */


/*-----------First Comment Users------------  */

.titr-user1,
.titr-user2 {
    padding: 0.5rem;
    font-family: font-default;
    border-bottom: solid 2px black;
    width: 100%;
}

.user-1,
.user-2 {
    margin: 2rem;
}


/*-----------End Comment Users------------  */


/*-----------First foooter web site----------*/

footer {
    width: 100%;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    color: #cccccc;
}

footer .section_users p {
    width: 90%;
    font-family: font-footer;
    font-size: 1em;
    font-weight: normal;
    text-align: justify;
    line-height: 2rem;
}

.container-user1,
.container-user2,
.container-user3 {
    display: flex;
    flex-direction: column;
}

.customer-1,
.customer-2,
.customer-3 {
    width: 40%;
    height: 100%;
    border-radius: 50%;
}


/*-----------End foooter web site----------*/


/*---============First Page 2 ==================--*/


/*-----------First search Box----------*/

.container-search {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.btn-serach {
    width: 23%;
}

.frm-input {
    width: 100%;
    padding: 0.5em;
}

.search-input {
    width: 75%;
}

.names-tors {
    font-size: 0.6em;
}


/*-----------End search Box----------*/


/*---------------First gallery tors------------*/

.galleryTor-1,
.galleryTor-2,
.galleryTor-3,
.galleryTor-4,
.galleryTor-5,
.galleryTor-6,
.galleryTor-7,
.galleryTor-8,
.galleryTor-9 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.container-text {
    width: 100%;
}

.gallary-tors {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.paragraphGallery {
    padding: 0em;
}

.titrGallery {
    font-size: 0.9em;
    line-height: 3em;
}


/*---------------End gallery tors------------*/